server:
  port: 7901

debug: true

spring:
  application:
    name: service-provider
  jpa:
    generate-ddl: false #是否生成ddl语句
    show-sql: true   #打印sql
    database: MYSQL
    hibernate:
      ddl-auto: none  #启动不对ddl做处理
  datasource:
    url: jdbc:mysql://localhost:3306/spring?useUnicode=true&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name:  com.mysql.cj.jdbc.Driver


eureka:
  client:                                                   #客户端注册进eureka服务列表内
    service-url:
      defaulrZone: http://localhost:8761/eureka/

  instance:
      instance-id: ${spring.application.name}:${server.port}:@project.version@




logging:
  level:
    root: INFO
    org.hibernate: INFO
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.hibernate.type.descriptor.sql.BasicExtractor: TRACE
    com.itmuch: DEBUG